#grid {
	display: grid;
	width: 0;
	height: 0;
}
#result {
	border: 1px black solid;
	width: 400px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 1000px;
}
.cell {
	width: 20px;
	height: 20px;
	border: 1px black solid;
	font-size: 9px;
}
